
{% extends "base.html.twig" %}
{% block content %} 
	<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.about_us{% endtrans %}</h1>
				<h3 class="main-title__secondary">{{about.name}}</h3>
			</div>
			<div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget">
							{{about.rgpdHtml|raw}}
						</div>
					</div>

					<div class="col-md-6 panel-grid-cell">
						<div class="textwidget lightbox">
							<p>
								<a href="{{asset('assets/jardim-oliveiras/images/diploma_big.jpg')}}"><img class="alignnone size-full wp-image-99" src="{{asset('assets/jardim-oliveiras/images/diploma_big.jpg')}}" alt="image (51)" width="850" height="480"></a>
							</p>
							<p>
								<a href="{{asset('assets/jardim-oliveiras/images/jornal_big.jpg')}}"><img class="alignnone size-full wp-image-90" src="{{asset('assets/jardim-oliveiras/images/jornal_big.jpg')}}" alt="image (42)" width="850" height="480"></a>
							</p>
							
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

{% endblock %}
