
{% extends "base.html.twig" %}
{% block content %} 
	<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.contact{% endtrans %}</h1>
			</div>
			<article>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 20px; font-weight: 400;">{% trans %}contacts.call_us{% endtrans %}</p><br>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><img src="{{asset('assets/jardim-oliveiras/images/cellphone.png')}}"> 966 249 070 / 913 081 349</p>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><img src="{{asset('assets/jardim-oliveiras/images/phone.png')}}"> 282 912 874</p>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><img src="{{asset('assets/jardim-oliveiras/images/email.png')}}"> info@jardimdasoliveiras.com</p>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><b>{% trans %}contacts.opening_restaurant{% endtrans %}</b> 12:00 - 16:00 / 18:30 - 23:00</p>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><b>{% trans %}contacts.opening_kitchen{% endtrans %}</b> 12:00 - 15:30 / 18:30 - 21:30</p>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><b>{% trans %}contacts.closed{% endtrans %}</b></p>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><b>{% trans %}contacts.lunch{% endtrans %}</b></p><br>
				<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;"><img src="{{asset('assets/jardim-oliveiras/images/gps.png')}}"> N 37.31356º W -8.56541º - {% trans %}contacts.altitude{% endtrans %}</p>
				<div class="panel-grid row">
					<div class="col-md-12 panel-grid-cell">
						<div class="map google-maps" id="map_canvas">
							<iframe width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7602.421110278858!2d-8.560238!3d37.314458!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1b21ef514501df%3A0x7d0b1d9c6899e647!2sJardim%20das%20Oliveiras!5e1!3m2!1spt-PT!2spt!4v1584470303434!5m2!1spt-PT!2spt" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
						</div>
					</div>
				</div>
				<div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">

						<div class="textwidget">
						<h5>Restaurante Jardim das Oliveiras - Monchique</h5>
							<p style="box-sizing: border-box; color: rgb(0, 0, 0); font-family: Verdana, sans-serif; font-size: 14px; font-weight: 400;">Sitio do Porto Escuro,
								8550-204 Monchique
							</p>
						</div>
					</div>
				</div>

				<br><br>
				
			</article>
		</div>
	</div>

{% endblock %}
