
{% extends "base.html.twig" %}
{% block content %} 
	<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{% trans %}navbar.faqs{% endtrans %}</h1>
				{# <h3 class="main-title__secondary">We will help you with your problems. We are here for you.</h3> #}
			</div>
			<article>
				<div class="panel-grid row m-b-md">
					{% for item in gallery %}
						<div class="col-md-4 panel-grid-cell">
							<div class="so-panel">
								<div class="page-box  page-box--block">
									{% set path = asset('/upload/product/')  %}
									<a class="page-box__picture" href="{{path}}{{item.image}}"><br><img src="{{path}}{{item.image}}" class="attachment-page-box size-page-box wp-post-image" alt="{{item.title}}"></a>
									{#<div class="page-box__content hide_text">
										<h5 class="page-box__title  text-uppercase"><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}">{{disorder.title}}</a></h5>
										<p>{{ (disorder.description|striptags|length > 200 ? disorder.description|striptags|slice(0, 200)~ "..." : disorder.description)|raw }}</p>
									</div>
									<p style="margin: 0 0 30px;"><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>#}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</article>
		</div>
	</div>

{% endblock %}
