{% extends "base.html.twig" %} 
{% block content %} 
<div class="col-xs-12  col-md-9 col-md-push-3" role="main">

                <div class="jumbotron  jumbotron--with-captions">
                    <div class="carousel  slide  fade" id="headerCarousel" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">
                            {% for banner in banners %}
                                {% if banner.isActive %}
                                {% if loop.index0 == 0 %}
                                    {% set active = "active" %}
                                    {%else%}
                                    {% set active = "false" %}
                                {% endif %}
                                    <div class="item  {{active}}"> <img src="{{asset('/upload/banner/' ~ banner.image ~ '')}}" srcset="{{asset('/upload/banner/' ~ banner.image ~ '')}} 425w, {{asset('/upload/banner/' ~ banner.image ~ '')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                                alt="&quot;{% trans %} banner.description  {% endtrans %}&quot;">
                                            {#<div class="jumbotron-content">
                                                <h1 class="jumbotron-content__title">{{banner.data[1]}}</h1>
                                                <div class="jumbotron-content__description">
                                                    {# <p><i>–</i>&nbsp;{% trans %}banner.unknown {% endtrans %}</p> #}
                                                {#</div>
                                            </div>#}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {# <div class="item"> <img src="{{asset('assets/orlandotur/images/image-24-425x200.jpg')}}" srcset="{{asset('assets/orlandotur/images/image-24-425x200.jpg')}} 425w, {{asset('assets/orlandotur/images/image-24-850x400.jpg')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                    alt="&quot;{% trans %} banner.description2  {% endtrans %}&quot;">
                                <div class="jumbotron-content">
                                    <h1 class="jumbotron-content__title">{% trans %} banner.description2  {% endtrans %}</h1>
                                    <div class="jumbotron-content__description">
                                        <p><i>–</i>&nbsp;Mahatma Gandhi</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item active"> <img src="{{asset('assets/orlandotur/images/image-6-425x200.jpg')}}" srcset="{{asset('assets/orlandotur/images/image-6-425x200.jpg')}} 425w, {{asset('assets/orlandotur/images/image-6-850x400.jpg')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                    alt="&quot;{% trans %} banner.description3  {% endtrans %}&quot;">
                                <div class="jumbotron-content">
                                    <h1 class="jumbotron-content__title">{% trans %} banner.description3  {% endtrans %}</h1>
                                    <div class="jumbotron-content__description">
                                        <p><i>–</i>&nbsp;Nelson Mandela</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item"> <img src="{{asset('assets/orlandotur/images/image-8-425x200.jpg')}}" srcset="{{asset('assets/orlandotur/images/image-8-425x200.jpg')}} 425w, {{asset('assets/orlandotur/images/image-8-850x400.jpg')}} 850w" sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
                                    alt="&quot;{% trans %} banner.description4  {% endtrans %}&quot;">
                                <div class="jumbotron-content">
                                    <h1 class="jumbotron-content__title">"{% trans %} banner.description4  {% endtrans %}"</h1>
                                    <div class="jumbotron-content__description">
                                        <p><i>–</i>&nbsp;{% trans %}banner.unknown {% endtrans %}</p>
                                    </div>
                                </div>
                            </div> #}
                        </div>
                        {# <a class="left  jumbotron__control" href="#headerCarousel" role="button" data-slide="prev"> <i class="fa  fa-chevron-left"></i> </a>
                        <a class="right  jumbotron__control" href="#headerCarousel" role="button" data-slide="next"> <i class="fa  fa-chevron-right"></i> </a> #}
                    </div>
                </div>


                <div class="content-container">
                    <article>
                        <div class="panel-grid row">
                            {% for item in landing_page %}
                                <div class="col-md-6 panel-grid-cell">
                                    <div class="so-panel panel-first-child panel-last-child">
                                        <h3 class="widget-title">{{item.title}}</h3>
                                        <div class="textwidget">
                                            {{item.description|raw}}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-grid row">
                        <h3>{% trans %}visit_gallery{% endtrans %}</h3><br>
                            <div class="content-container-slider">
                                {% for item in frequent_disorders %}
                                    <div class="col-md-4">
                                        <div class="so-panel widget widget_pw_featured_page widget-featured-page panel-first-child panel-last-child" id="panel-6-2-0-0">
                                            <div class="page-box  page-box--block">
                                                {% set path = asset('/upload/product/')  %}
                                                <a class="page-box__picture" href="{{ path('gallery', {id:item.id, text:(item.title|url_encode)}) }}"><img width="360" height="240" src="{{path}}{{item.image}}" class="attachment-page-box size-page-box wp-post-image" alt="Couples Therapy"></a>
                                                {#<div class="hide_text page-box__content">
                                                    <h5 class="page-box__title  text-uppercase"><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}ra">{{disorder.title}}</a></h5>
                                                    {# <p>{{disorder.description|raw}}</p> #}
                                                    {# <p>{{rawcontent|length > 200 ? rawcontent|slice(0, 200) ~ '...' : rawcontent}}</p> #}
                                                   {#} <p>{{ (disorder.description|striptags|length > 200 ? disorder.description|striptags|slice(0, 200)~ "..." : disorder.description)|raw }}</p>
                                                </div>
                                                <p><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}" class="read-more  read-more--page-box">{% trans %}more{% endtrans %}</a></p>#}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </article>
                </div>
            </div>
{% endblock %}