{% for disorder in frequent_disorders %}
    <li class="menu-item"><a href="{{ path('frequent_disorder', {id:disorder.id, text:(disorder.title|url_encode)}) }}">{{disorder.title}}</a></li>
{% endfor %}