{% for item in sidebar %}
    <div class="widget  widget-about-us">
        <div id="carousel-people-pw_about_us-2" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active"> 
                    <h1 class="about-us__name">{{item.title}}</h1>
                    <a href="{{path('walking-tours') }}"><img class="about-us__image" src="{{asset('assets/jardim-oliveiras/images/passeio.jpg')}}" alt="About us image"></a><br>
                    <a href="{{path('contact') }}"><img src={% trans %}acommodation{% endtrans %} style="border-top:3px solid #8b553d;margin-bottom: 20px;"></a>
                    <h1 class="about-us__name">{% trans %}reservations{% endtrans %}</h1>
                    <a href="{{path('contact') }}"><img src="{{asset('upload/product/jardimdasoliveiras_04.jpg')}}"></a>
                    {#<p class="about-us__description">{{item.description|striptags|raw}}</p>
                    {#<a href="{{ path('about') }}" class="read-more  about-us__link">{% trans %}more{% endtrans %}</a></div>#}
            </div>
        </div>
    </div>
{% endfor %}