{#<div class="widget  widget_text">
    <div class="textwidget">#}
        {%for name in social_network_icons %}
            {% if company.getLinksActive[loop.index0] == true %}
                {% set url = asset('images/socialMedia/'~ name) %}
                <a class="icone-footer w-inline-block" href="{{company.getLinks[loop.index0]}}" style="background-image: url({{url}})"></a>
            {% endif %}
        {% endfor %}
    {#</div>#}
{#</div>#}