{% extends "base.html.twig" %}
{% block content %} 
<div class="col-xs-12  col-md-9 col-md-push-3" role="main">
		<div class="content-container">
			<div class="main-title">
				<h1 class="main-title__primary">{{walkingTours[0].title}}</h1>
			</div>
                <div class="panel-grid row m-b-0">
					<div class="col-md-12 panel-grid-cell">
                        <div class="textwidget">
						<img src="{{asset('/upload/product/' ~ walkingTours[0].image ~ '')}}" 
								srcset="{{asset('/upload/product/' ~ walkingTours[0].image ~ '')}} 425w, 
								{{asset('/upload/product/' ~ walkingTours[0].image ~ '')}} 850w" 
								sizes="(min-width: 768px) 720px, (min-width: 992px) 700px, (min-width: 1200px) 850px, calc(100vw-20px)"
								alt="{{walkingTours[0].title}}" align="left" style="margin: 0px 10px 10px 0px">
							<span> {{walkingTours[0].description|raw}} </span><br><br>
							{% for tour in walkingTours %}
								{% if tour.details.detail is not empty %} 
									<h6 class="main-title__primary">{{tour.details.detail[0]}}</h6>
									{{tour.details.detail[1]|raw}}
								{% endif %}
							{% endfor %}
						</div>
                            

                    </div>
				</div>

        </div>
	</div>
{% endblock %}