<style>
li { list-style-type:none}
ul{padding: 0px}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}
</style>
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="far fa-image"></i> Banner <i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

<div class="w3-padding-16 w3-container">

<div class="w3-border w3-sand">  

  {{ form_start(form, {'attr': {'id': 'banner-form'}})  }}

  <div class="w3-row-padding w3-margin-top w3-border-bottom">

 <div class="w3-col s12 l3 m2 w3-hide-small">&nbsp;</div>
    <div class="w3-col s12 l6 m8 w3-center w3-margin-bottom" title="{%trans%}add_image{%endtrans%}">
      <div class="w3-white w3-center w3-margin-bottom w3-border w3-imput w3-section set-image-container w3-padding" style="cursor:pointer"onclick="$('.set-image').trigger('click')">
        <i class="fa fa-camera w3-jumbo" style="color:#05788d"></i>
      </div>
      {{ form_widget(form.image)}}
    </div>
  
  </div>

<div class="w3-row-padding w3-margin-top w3-border-bottom">

    <div class="w3-col s12 l2 m4 w3-margin-bottom" title="{%trans%}image_visible{%endtrans%}">
      {{ form_label(form.is_active)}}<br>
      {{ form_widget(form.is_active)}} 
    </div>

   {# <div class="w3-col s12 l2 m4 w3-margin-bottom" title="{%trans%}text_visible{%endtrans%}">
      {{ form_label(form.text_active)}}<br>
      {{ form_widget(form.text_active)}} 
    </div> #}

    <div class="w3-col s12 l2 m4 w3-margin-bottom" title="{%trans%}text_visible{%endtrans%}">
      {{ form_label(form.description_active)}}<br>
      {{ form_widget(form.description_active)}} 
    </div>
  
  </div>

  <div class="w3-row-padding w3-margin-top w3-border-bottom">
    {% for locale in locales %}
      <div class="w3-col s12 l4 m6 w3-margin-bottom">
        <div class="w3-col s12 w3-border-bottom">
          <img src="{{locale.getFilename}}" style="height:45px" class="w3-border" title="{{locale.name}}">
          <label>{% trans %}text{% endtrans %} </label>
        </div>

        {# <label>{% trans %}title{% endtrans %}</label> #}
        <div class="w3-row">
          <div class="w3-rest">
            <input type="text" data-local-id='{{locale.id}}' name='title' class="w3-input w3-border w3-white w3-hide" placeholder="{{locale.name}}">
          </div>
        </div>
        
        <label>{% trans %}description{% endtrans %}</label>
        <div class="w3-row">
          <div class="w3-rest">
            <textarea type="text" data-local-id='{{locale.id}}' id="description" name='description' class="w3-input w3-border w3-white" placeholder="{{locale.name}}"></textarea>
          </div>
        </div>

      </div>
    {% endfor %}

    <div class="w3-hide">
      {{ form_widget(form.submit)}}
    </div>
  </div>
    <div class="w3-row-padding w3-margin-top w3-border-bottom">
      <div class="w3-col s12 w3-margin-bottom">
        <span class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#banner-form').trigger('submit')">
            <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
          </span>
      </div>
  </div>
    {{ form_end(form) }}

  </div>
</div>

<script>
  var loadFile = function(event) {
    $('.set-image-container').html('<img id="output" class="w3-image w3-animate-zoom">')
    var output = document.getElementById('output')
    output.src = URL.createObjectURL(event.target.files[0])
  }
  
  $('#banner-form').on('submit',function(e){
  obj=''
  arr = []
  $('input[name=title]').each(function( index ) {
    arr.push({id:$(this).attr('data-local-id'), name:$(this).val(), description:$('textarea[name=description]').eq(index).val()})
  })
/*
  $.each(arr, function (i, value) {
        myObj[value.id] = value.firstName;
    });  */
  form = new FormData($(this)[0])
  form.append('locale',JSON.stringify(arr))
  e.preventDefault()
  $('.w3-overlay').show()
  $('.required').addClass('w3-hide')
    $.ajax({  
      url:'{{ path('admin_banner_add') }}',
      type: "POST",
      data: form,
      processData: false,
      contentType: false,
      cache: false,
      success: function(data){  
        $('.w3-overlay').hide()
        if (data.status == 1){
          ajaxUpload('banner-new')
        }
        else {
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  //}, 500)
})
</script>
