
<style>
	.dt-button{background: #FFF;border:1px solid #ccc;
	 display: inline-block; padding: 8px 16px; vertical-align: middle;overflow: hidden;text-decoration: none; color: inherit;
			background-color: inherit;text-align: center; cursor: pointer; white-space: nowrap;color: #000!important;background-color: #87CEEB!important;font-size:18px}
	select.input-sm, input .form-control .input-sm {height: 36px}
	table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
			height: 24px;width: 24px;border-radius: 16px; text-align: center;line-height: 23px;font-size: 24px;border-radius: 0px;border: 1px solid #ddd;box-shadow: 0 0 0 #000}
	table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {padding-left: 38px}
	.dt-button-collection{ width:100%;background: rgba(0,0,0,0.3);position: fixed;left:0px;padding: 96px 16px; z-index:99999;margin-top: 0px!important;top:0px}
	::-webkit-input-placeholder {opacity: 0.3}
	::-moz-placeholder {opacity: 0.3}
	:-ms-input-placeholder{opacity: 0.3}
	:-moz-placeholder {opacity: 0.3}
	.w3-input {border-bottom: 0px solid #05788d}
	input, select, textarea {color: #000!important}
	.form-control{ border: 1px solid #ccc!important;height: 50px;padding: 0px 0px 0px 4px;padding-bottom: 0px}
	div.dataTable_length select {height: 50px}
	</style>
	<header class="w3-container" style="padding-top:22px">
		 <h5><b><i class="far fa-images"></i> {%trans%}property_bulletin.bulletins{%endtrans%}</b></h5>
	</header>
	
	<div id="results" class="w3-hide" style="top:66px;right:16px;position: fixed;z-index: 9999999">
		<span class="w3-center w3-padding w3-light-blue w3-large w3-animate-right" id="results_txt"></span>
	</div>
	
	<form id="bulletins-search" class="w3-row-padding">
			<div class="w3-col l3 m6 s12 w3-margin-bottom">
				<input autocomplete="nope" type="text" id="bulletins-email" name="bulletins_property" class="w3-input w3-border w3-white" placeholder="{%trans%}property.property{%endtrans%}" autofocus="">
			</div>
			<div class="w3-col l3 m6 s12 w3-margin-bottom">
				<input autocomplete="nope" type="text" id="bulletins-telephone"  name="bulletins_book_id"  class="w3-input w3-border w3-white" placeholder="{%trans%}property_bulletin.book_id{%endtrans%}" autofocus="">
			</div>
			<div class="w3-col l3 m6 s12 w3-margin-bottom">
					<input autocomplete="nope" class="w3-input w3-border w3-white" id='startDate' name="startDate" readonly type="text" placeholder="&#xF274; {%trans%} property_bulletin.check_in{%endtrans%}" style="font-family:Raleway, FontAwesome;cursor:pointer">
			</div>
				<div class="w3-col l3 m6 s12 w3-margin-bottom">
					<input autocomplete="nope" class="w3-input w3-border w3-white" id='endDate' name="endDate" readonly type="text" placeholder="&#xF273; {%trans%} property_bulletin.check_out{%endtrans%}" style="font-family:Raleway, FontAwesome;cursor:pointer">
			</div>
			{# <button class="boto-destaque-1 w-button" type="submit">{% trans %}search{% endtrans %}</button> #}
			<div class="w3-col l2 m6 s6 w3-right">
				<button class="w3-light-green w3-border w3-btn w3-block" type="submit"><i class="fab fa-searchengin"></i> <span class="w3-hide-small">{%trans%}search{%endtrans%}</span></button>
			</div>
			<div class="w3-col l2 m6 s6  w3-right">
				<button class="w3-white w3-border w3-btn w3-block" onclick="clearSearch()"><i class="fas fa-eraser"></i> <span class="w3-hide-small">{%trans%}clear{%endtrans%}</span></button> 
			</div>
		</form>
	
	<div class="w3-row-padding">
	
		<div class="w3-col s12"></div>
		<table id="dataTable" class="w3-border table table-striped centered hover table-bordered w3-hide" style="width:100%">
			<thead class="w3-sand">
				<tr>
                <th style="text-align: center">{%trans%}property.property{%endtrans%}</th> 
                <th style="text-align: center">{%trans%}property_bulletin.book_id{%endtrans%}</th>
                <th style="text-align: center">{%trans%}property_bulletin.check_in{%endtrans%}</th>
                <th style="text-align: center">{%trans%}property_bulletin.check_out{%endtrans%}</th>
                <th style="text-align: center">{%trans%}marketing{%endtrans%}</th>
				<th style="text-align: center">{%trans%}property_bulletin.name{%endtrans%}</th>    
				<th style="text-align: center">{%trans%}property_bulletin.last_name{%endtrans%}</th>
				<th style="text-align: center">{%trans%}property_bulletin.birth_day{%endtrans%}</th>
				<th style="text-align: center">Email</th>
				<th style="text-align: center">{%trans%}property_bulletin.telephone{%endtrans%}</th>  
				<th style="text-align: center">{%trans%}property_bulletin.identification_number{%endtrans%}</th>
				<th style="text-align: center">{%trans%}property_bulletin.identification_type_list{%endtrans%}</th>
                <th style="text-align: center">{%trans%}property_bulletin.country_origin_list{%endtrans%}</th>
				<th style="text-align: center">{%trans%}property_bulletin.country_residence_list{%endtrans%}</th>  
				<th style="text-align: center">{%trans%}property_bulletin.country_origin_identification_list{%endtrans%}</th>             
				</tr>
			</thead>
			<tbody>

				<tr>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
					<td></td>
					<td></td>
				</tr>
				 <tr>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
					<td></td>
					<td></td>
				</tr>
	
			</tbody>
			<tfoot class="w3-sand">
				<tr>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
	
	<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
	<script src="{{ asset('js/ui.datepicker-pt-BR.js') }}"></script>
	<script>
		var ok =  '<i class="w3-text-green fa fa-check w3-large"><span class="w3-hide">1</span></i>' 
		var ko =  '<i class="fas fa-times w3-text-red w3-large"><span class="w3-hide">0</span></i>'
	
		$(document).ready(function() { 
			$('#bulletins-email').change(function() { 
				$('#bulletins-telephone, #startDate, #endDate').val("");
			})
			$('#bulletins-telephone').change(function() { 
				$('#bulletins-email, #startDate, #endDate').val("");
			})
			$('#startDate, #endDate').change(function() { 
				$('#bulletins-email, #bulletins-telephone').val("");
			})
		});
	
		jQuery('#startDate').datepicker({
				language:'pt-BR',
				format: 'dd/mm/yyyy',
				weekStart: 1,
				todayHighlight: true,
				autoclose: true,
			}).on("changeDate",function (e) {
				jQuery('#endDate').datepicker("setStartDate", e.date)
			})
	
		jQuery('#endDate').datepicker({
			language:'pt-BR',
			format: 'dd/mm/yyyy',
			todayHighlight: true,
			weekStart: 1,
			autoclose: true
		}).on("changeDate",function (e) {
			jQuery('#startDate').datepicker("setEndDate", e.date)
		})
	
		function clearSearch(){
			//$('#startDate, #endDate').datepicker('clearDates')
			$('#bulletins-search').closest('form').find("input[type=text], textarea").val("");
		}
	
		$('#bulletins-search').on('submit',function(e){
			e.preventDefault();
			data = $(this).serialize()
		 
			//console.log(data);

			setTimeout(function(){
				table = $('#dataTable').DataTable({
				dom: 'lBfrtip',
				rowId: "id",
				"paging": true,
				"serverside":true,
				"drawCallback": function( settings ) {},
				"ajax": 
					{
					"url" :'{{ path('bulletins_search') }}?'+data,
					"dataSrc": function (j) {  
					//console.log(j)
					//$('.w3-overlay, .table-overlay').hide()
					if( j.options > 1500){
						$('#results_txt').html('{%trans%}more_1500{%endtrans%}')
						$('#results').removeClass('w3-hide')
						j.data = []
						$('.set-total, .set-canceled, .set-confirmed, .set-pending').text('-/-')
						return j.data
					}
					else if (j.options == 0)
					{
						$('#results_txt').html('{%trans%}results_empty{%endtrans%}')
						$('#results').removeClass('w3-hide')
						j.data = []
						$('.set-total, .set-canceled, .set-confirmed, .set-pending').text('0')
						return j.data
					} 
					else
					{
						$('#results').addClass('w3-hide')
						return j.data
					}
				}
				},
				columns: [
                { data: "property"},
				{ data: "book_id"},
                { data: "check_in"},
                { data: "check_out"},
                { data: "marketing", render: function(data, type,row){return (data ? ok : ko);}},
				{ data: "name"},
				{ data: "last_name"},
				{ data: "birth_date"},
				{ data: "email"},
                { data: "telephone"},
				{ data: "identification_number"},
				{ data: "identification_type"},
                { data: "country_origin"},
				{ data: "country_residence"},
				{ data: "country_origin_identification"},
				//{ data: "marketing", render: function(data, type,row){return (data ? ok : ko);}},
				//{ data: "gdpr", render: function(data, type,row){return (data ? ok : ko);}}
			],
			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			buttons: [
					{
					extend:    'excelHtml5',
					text:      '<i class="far fa-file-excel"></i>',
					titleAttr: 'Excel',
					exportOptions: {
						columns: ':visible'
						}
					},
					{
					extend:    'pdfHtml5',
					text:      '<i class="far fa-file-pdf"></i>',
					titleAttr: 'PDF',
					exportOptions: {
						columns: ':visible'
						},
						customize: function (doc) {
							//doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('')
								doc['footer']=(function(page, pages) {
									return {
										columns: [
											{
												alignment: 'right',
												text: ['']
											},
										],
										margin: 20
									}
								})
							}
					},
					{
					extend: 'colvis',
					columns: ':gt(0)',
					text:      '<i class="far fa-eye-slash"></i>',
					titleAttr: '{%trans%}columns_show_hide{%endtrans%}',
					exportOptions: {
					 columns: ':visible'
					}
				}
			],
			language: {
					"lengthMenu": "{%trans%}show{%endtrans%} _MENU_ {%trans%}per_page{%endtrans%}",
					"zeroRecords": "0 {%trans%}results{%endtrans%}",
					"info": "{%trans%}show{%endtrans%} _PAGE_ {%trans%}of{%endtrans%} _PAGES_",
					"infoEmpty": "{%trans%}without{%endtrans%} {%trans%}results{%endtrans%}",
					"search": "{%trans%}search{%endtrans%}",
					"paginate": {
					"previous": "{%trans%}previous{%endtrans%}",
					"next": "{%trans%}next{%endtrans%}",
				}
			},
			"destroy": true,
			responsive: true
			})
			.on( 'error.dt', function ( e, settings, techNote, message ) {
				$('.w3-overlay').hide()
				$('#modal-error').show()
				console.log( e, settings, techNote, message)
	      return true
			})
			//table.ajax.reload()
			// table.colReorder.order(orderby)
			//table.draw()
			//DATATABLE NO ALERT
			$.fn.dataTable.ext.errMode = 'none'
			$('#dataTable_length, .dt-buttons').addClass('w3-center w3-col s12 m6 l4 w3-section')
			$('#dataTable_filter').addClass('w3-col s8 m12 l4 w3-center w3-section')
			$("#dataTable").removeClass('w3-hide')
			}, 750)
				
		})

	</script>
	