

<style>
.chart_wrap {
    position: relative;
    padding-bottom: inherit;
    height: 300px
}

.chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:300px
}
</style>

  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fas fa-tachometer-alt"></i> {%trans%}dash{%endtrans%}</b></h5>
  </header>

  <header class="w3-container">
    <h5><b>{%trans%}today{%endtrans%} {{ "now"|date("d/m/Y") }}</b></h5>
  </header>
  
