
  <div class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green" style="line-height: 30px"><i class="fas fa-globe"></i> {%trans%}demograph{%endtrans%}</h5>
        <p>{{browser.lang}}</p>
        <p>{{browser.country}}</p>
        <p>{{browser.city}}</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red" style="line-height: 30px"><i class="fab fa-whmcs"></i> {%trans%}system{%endtrans%}</h5>
        <p>{{browser.name}}</p>
        <p>{{browser.os}}</p>
        <p>{{browser.platform}}</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange" style="line-height: 30px"><i class="fas fa-dot-circle"></i> Atual</h5>
        <p>{{browser.ip}}</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
  </footer>

  <!-- End page content -->
</div>


