<link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<style>
li { list-style-type:none}
ul{padding: 0px}
.timepicker{background:#FFF;border:1px solid #DDD;padding: 8px 0px}
.bootstrap-datetimepicker-widget table td span {border-radius: 0px}
.bootstrap-datetimepicker-widget table td span:hover {background: #DDD}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}
.w3-select{padding: 11.5px 4px}
/* .note-editor.note-frame .note-editing-area .note-codable{color:#DDD!important}
.note-editor.note-frame{border-color:#CCC} */
div > label:nth-child(1n+1){margin-top: 6px}
span.product_amount_0{opacity:0.5;cursor: not-allowed}
span.product_detail_0{opacity:0.5;cursor: not-allowed} 
/*
.note-toolbar{position:relative!important;top:0px!important;width:100%!important} */
</style>
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-tags"></i> {%trans%}product_23{%endtrans%} <i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

<div class="w3-container">
    <div class="w3-border w3-sand">
    
      {{ form_start(form, {'attr': {'id': 'product-form'}})  }}

      <div class="w3-row-padding w3-margin-top w3-border-bottom">

        <div class="w3-col l4 m3 s0">&nbsp;</div>

        <div class="w3-col l4 m6 s12 w3-center w3-margin-bottom" title="{%trans%}add_image{%endtrans%}">
          <div class="w3-white w3-center w3-margin-bottom w3-border w3-imput w3-section set-image-container w3-padding" style="cursor:pointer"onclick="$('.set-image').trigger('click')">
            <i class="fa fa-camera w3-jumbo" style="color:#05788d"></i>
          </div>
          {{ form_widget(form.image)}}
        </div>    
      </div>
 
      <div class="w3-row-padding w3-margin-top w3-border-bottom">
        
        {# <div class="w3-col s6 l3 m6" title="{%trans%}highlight{%endtrans%}">
            <span class="w3-margin-right">{{ form_label(form.highlight)}}</span>
          {{ form_widget(form.highlight)}}
        </div>  #}

        <div class="w3-col s6 l3 m6" title="{%trans%}active{%endtrans%}">
          <span class="w3-margin-right">{{ form_label(form.is_active)}}</span>
          {{ form_widget(form.is_active)}} 
        </div>
 {#
        <div class="w3-col s6 l3 m6 w3-margin-bottom" title="{%trans%}duration{%endtrans%}">
          <div style="position:relative">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
          </div>
        </div> #}
        
        {# <div class="w3-col s6 l3 m6 w3-margin-bottom" title="{%trans%}lotation{%endtrans%}">
          {{ form_label(form.availability) }}
          {{ form_widget(form.availability) }}
        </div> #}
      </div>

      <div class="w3-row-padding w3-margin-top w3-border-bottom">
        <div class="w3-col s6 l3 m6 w3-margin-bottom">
          <label>{%trans%}category{%endtrans%}"</label>
          <select class="w3-select w3-border" name="category">
            {%for c in categories%}
            <option value='{{c.id}}'>{{c.name}}</option>
            {%endfor%}
          </select>
        </div>
      </div>

    <script>var localsData = []</script>
    <div class="w3-row-padding w3-margin-top w3-border-bottom">
        {%for locale in locales %}  
        <script>
          localsData.push({name:'{{locale.name}}', id:{{locale.id}}, file:'{{locale.getFilename}}'})  
        </script>
        <div class="w3-col s12 l6 m12 w3-margin-bottom">
          <div class="w3-row">
            <div class="w3-col s12 w3-border-bottom">
              <img src="{{locale.getFilename}}"  style="height:45px" class="w3-border" title="{{locale.name}}" />
              <label>{% trans %}description{% endtrans %}</label>
            </div>
            <div class="product_product_description_translation" data-locales='{{locale.id}}'></div>

          </div>
        </div>
        {% endfor %}
    </div>

      <div class="w3-row-padding w3-margin-top w3-border-bottom">
        
        <div class="w3-row">
          <label>{%trans%}product_details{%endtrans%}</label>
        </div>

        <div class="w3-col s12 w3-margin-bottom">
          <div class="w3-row-padding">
            <div class="product_detail"></div>
          </div>
        </div>

        <div class="w3-row">
          <span class="w3-button w3-border w3-blue w3-right" style="margin:-7px 0px 8px 0px" onclick="addNewForm('product_detail',/product_detail_0/g,'detail')"><i class="fa fa-plus"></i></span>
        </div>
      </div>
{#}
      <div class="w3-row-padding w3-margin-top w3-border-bottom">

        <div class="w3-row">
          <label>{%trans%}prices{%endtrans%}</label>
        </div>

        <div class="w3-col s12 w3-margin-bottom">
          <div class="w3-row-padding">
            <div class="product_amount w3-col s12 l4 m6"></div>
          </div>
        </div>

        <div class="w3-row">
          <span class="w3-button w3-border w3-blue w3-right" style="margin:-7px 0px 8px 0px" onclick="addNewForm('product_amount',/product_amount_0/g,'amount')"><i class="fa fa-plus"></i></span>
        </div>
        
      </div> #}

      <div class="w3-row-padding w3-margin-top w3-border-bottom">    
      {{ form_widget(form.submit)}}

      <div class="w3-col s12 w3-margin-top w3-margin-bottom ">
        <span class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#product-form').trigger('submit')">
            <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
        </span>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>

<script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
<script>              
/*
  function: delete a selected form from added forms 
  tagId: form id inside div.
  tagNewValue: value to replace inside "name".
  subFormName: form name inside parent form product. 
*/
  function deleteForm(tagId, tagNewValue, subFormName){
    //returns a new value with the form id
    id = tagId.replace(tagNewValue, '')
    //remove form except form with id 0
    id != 0 ? $('#product_'+subFormName+'_'+id).parent().parent().parent().remove() : false
  }

  /*
  function: add a new form using the generated first form
  tagClass: form class inside div.
  tagNewValue: value to replace inside "name".
  subFormName: form name inside parent form product. 
*/
  function addNewForm(tagClass, tagNewValue, subFormName)
  {
    var id = null;
    //for every class called name split its name to get id
    $("."+tagClass).each(function() {
      //split form name into an array of substrings
      formSubStrigs = $(this).children().children().children().attr('id').split("_")

        //get id from form (last form added) array
        id = parseInt(formSubStrigs[2])
    })
    
    //console.log(id);
    // get a copy of first added form
    var newForm = $("."+tagClass).html()

    // add id for new product form
      newForm = newForm.replace(tagNewValue, tagClass+'_'+(id+1))

    // add id for new product sub form
    for(i=1; i<= localsData.length; i++) {
      newForm = newForm.replace('product['+subFormName+'][0][translation]['+i+'][name]',      'product['+subFormName+']['+(id+1)+'][translation]['+i+'][name]')
      newForm = newForm.replace('product['+subFormName+'][0][translation]['+i+'][text]',      'product['+subFormName+']['+(id+1)+'][translation]['+i+'][text]')
      newForm = newForm.replace('product['+subFormName+'][0][translation]['+i+'][locales]',   'product['+subFormName+']['+(id+1)+'][translation]['+i+'][locales]')
    }  
    
    if(subFormName == "amount") {
      newForm = newForm.replace('product['+subFormName+'][0][amount][amount]', 'product['+subFormName+']['+(id+1)+'][amount][amount]')
      newForm = newForm.replace('product['+subFormName+'][0][is_active]',      'product['+subFormName+']['+(id+1)+'][is_active]')
      newForm = newForm.replace('product['+subFormName+'][0][isChild]',        'product['+subFormName+']['+(id+1)+'][isChild]')
    }
    
    // add the new form to old form parent
    if(subFormName =="detail")
      $('.'+tagClass).parent().append('<div class="'+tagClass+' ">'+newForm+'</div>')
    else
      $('.'+tagClass).parent().append('<div class="'+tagClass+' w3-col s12 l4 m6">'+newForm+'</div>')
  

    for (var k in localsData){
      $('#product_'+subFormName+'_'+(id+1)+'_locales_'+localsData[k].id+'_'+0+'_locales').val(localsData[k].id);

    }
 
    //cke editor
    $('#cke_product_'+subFormName+'_'+(id+1)+'_locales_1_0_text').remove();
    $('#cke_product_'+subFormName+'_'+(id+1)+'_locales_2_0_text').remove();

    CKEDITOR.replace('product_'+subFormName+'_'+(id+1)+'_locales_1_0_text', {  });
    CKEDITOR.replace('product_'+subFormName+'_'+(id+1)+'_locales_2_0_text', {  });

    /*
    for(var instanceName in CKEDITOR.instances) { 
      console.log(instanceName);
    } */

  }

  function addItemForm($collectionHolder, $newLinkDiv, index, subFormName) {
    //add deleteForm function
    deleteLink = '<span class="w3-button w3-red w3-border w3-center product_'+subFormName+'_0" style="margin-top: 2%" onclick="deleteForm(\'product_'+subFormName+'_0\',/product_'+subFormName+'_/g,\''+subFormName+'\')"><i class="fa fa-trash"></i></span>'
    var prototype = $collectionHolder.data('prototype')
    id = index != 0 ? 
      $newLinkDiv.data('locales') : index
    var newForm = prototype

    newForm = newForm.replace(/__name__/g, id)
    var $newFormDiv =  ($collectionHolder).attr('id') == 'product_'+subFormName+'' ?
      $('<div style="padding: 0px 8px 4px 8px;" class="add-item-form-'+subFormName+' w3-border w3-margin-bottom"></div>').html(newForm+deleteLink) 
      :
      $('<div class=" add-item-form-'+subFormName+'"></div>').html(newForm)
    $newLinkDiv.html($newFormDiv)
  }

  function addItemFormLocales($collectionHolder, $newLinkDiv, locale, subFormName) {
    var prototype = $collectionHolder.data('prototype')
    $newLinkDiv.attr('data-locales', locale)
    var newForm = prototype
    newForm = newForm.replace(/_translation_/g, '_locales_'+locale+'_')

    newForm = newForm.replace('[translation][0][locales]', '[translation]['+locale+'][locales]')
    newForm = newForm.replace('[translation][0][name]', '[translation]['+locale+'][name]')


    if (subFormName == "detail"){
        newForm = newForm.replace('[translation][0][text]', '[translation]['+locale+'][text]')

        var $newFormDiv = $('<div class="add-item-form-'+subFormName+' w3-col s6 w3-center" style="padding:5px"></div>').html(newForm)
    }else {
        var $newFormDiv = $('<div class="add-item-form-'+subFormName+'"></div>').html(newForm)
    }
 
    
    $newLinkDiv.append($newFormDiv)

  }

  //set locales to descriptions
  
  $(".product_product_description_translation" ).each(function() {
    var id = $(this).data('locales')
    addItemForm($('#product_product_description_translation'), $(this), id)
    $('#product_product_description_translation_'+id+'_locales').removeAttr('selected').val(id)
    $('#product_product_description_translation_'+id+'_locales').prepend('<img src="'+localsData[0].file+'" style="margin-right:4px;height:45px" class="w3-border" title="'+localsData[0].name+'">')
  })

  $('.product_amount').each(function(index) {
    addItemForm($('#product_amount'), $(this), index, "amount")
    addForm(index, "amount");
  })

  $('.product_detail').each(function(index) {
    addItemForm($('#product_detail'), $(this), index, "detail")
    addForm(index, "detail");
  })

  function addForm(index, subFormName) {
   for (var k in localsData){
      addItemFormLocales($('#product_'+subFormName+'_'+index+'_translation'), $('#product_'+subFormName+'_'+index+'_translation'), localsData[k].id, subFormName)
      $('#product_'+subFormName+'_'+index+'_locales_'+localsData[k].id+'_'+index+'_locales').addClass('w3-red').val(localsData[k].id);
      $('#product_'+subFormName+'_'+index+'_locales_'+localsData[k].id+'_'+index).children('div').first().children('label').prepend('<img src="'+localsData[k].file+'" style="margin-right:4px;height:45px" class="w3-border" title="'+localsData[k].name+'">')
    } 
    
  }

  var loadFile = function(event) {
    $('.set-image-container').html('<img id="output" class="w3-image w3-animate-zoom">')
    var output = document.getElementById('output')
    output.src = URL.createObjectURL(event.target.files[0])
  }


// $('#product_amount, #product_product_description_translation').parent().remove()
// $('#product_detail, #product_product_description_translation').parent().remove()

/*DATE TIME PICKER______________________________________________________*/
$('#product_duration').datetimepicker({format: 'HH:mm', ignoreReadonly:true, icons: {
  time: "fa fa-clock-o",
  date: "fa fa-calendar",
  up: "fa fa-chevron-up",
  down: "fa fa-chevron-down"
  }
}).val('00:00')


/*AJAX______________________________________________________*/
$('#product-form').on('submit',function(e){
  obj=''

  //cke upadte editors
  /*for(var instanceName in CKEDITOR.instances)
    CKEDITOR.instances[instanceName].updateElement(); */

  //console.log("serialize:" + $('#product-form').serialize())

  e.preventDefault()
  $('.w3-overlay').show()
  $('.required').addClass('w3-hide')
    $.ajax({  
      url:'{{ path('admin_product_add') }}',
      type: "POST",
      data: new FormData($(this)[0]),
      processData: false,
      contentType: false,
      cache: false,
      success: function(data){  
        $('.w3-overlay').hide()
        console.dir("data" + data)
        if (data.status == 1){
          ajaxUpload('product-list')
        }
        else{
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)


          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  //}, 500)
})

$(function() {
    $('textarea.ckeditor').ckeditor();
});
  

</script>



