
<link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
<style>
 li { list-style-type:none}
 ul{padding: 0px}
 .timepicker{background:#FFF;border:1px solid #DDD;padding: 8px 0px}
.bootstrap-datetimepicker-widget table td span {border-radius: 0px}
.bootstrap-datetimepicker-widget table td span:hover {background: #DDD}
#product_event_0_event{display:none}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 3px solid transparent!important} 
 .w3-input {border-bottom: 0px solid #05788d}
 .w3-select{padding: 11.5px 4px}

 .product-forms {
  padding: 0px 8px 4px 8px;
  width: fit-content;
  display: inline-block;
 }

</style>
<header class="w3-container" style="padding-top:22px">
    <!-- <h5>
      <b>
        <i class="fa fa-tags"></i> Categoria <i class="far fa-edit fa-fw"></i>
    </b>
  </h5> -->
</header>
<div class="">
  {{ form_start(form, {'attr': {'id': 'product-form'}})  }}

  
    <input type="hidden" name="id" value="{{ product.id }}">
    <div class="w3-padding-16 w3-row-padding w3-border w3-sand ">
      <div class="w3-col l12 w3-row-padding w3-margin-top w3-border-bottom" title="">
        
        {# <div class="w3-col s6 l2 m3" title="{%trans%}highlight{%endtrans%}">
          {{ form_label(form.highlight)}}<br>
          {{ form_widget(form.highlight)}}
        </div> #}

        <div class="w3-col s6 l2 m3" title="{%trans%}active{%endtrans%}">
          {{ form_label(form.is_active)}}<br>
          {{ form_widget(form.is_active)}}
        </div>
  {#
        <div class="w3-col s6 l2 m3" title="{%trans%}duration{%endtrans%}">
          <div style="position:relative">
          {{ form_label(form.duration) }}
          {{ form_widget(form.duration) }}
          </div>
        </div> #}
{#}
        <div class="w3-col s6 l2 m3" title="{%trans%}lotation{%endtrans%}">
          {{ form_label(form.availability) }}
          {{ form_widget(form.availability) }}
        </div> #}

        <div class="w3-col s12 l4 m12 w3-center" title="{%trans%}add_image{%endtrans%}">
          <div class="w3-center w3-margin-bottom w3-border w3-imput w3-section set-image-container w3-padding" style="cursor:pointer"onclick="$('.set-image').trigger('click')">
            {% if product.image %}

            {% set url=product.image|split('/public_html/') %}
            <img id="output" src="../{{ url[1] }}" class="w3-image w3-animate-zoom">
            {% else %}
            <i class="fa fa-camera w3-jumbo" style="color:#05788d"></i>
            {% endif %}
          </div>
          {{ form_widget(form.image)}}
        </div>
        {# <img src="{{locales[0].getFilename}}" style="height:45px" class="w3-border" title="{{locales[0].name}}"> #}
      </div>

      <div class="w3-row-padding w3-margin-top w3-border-bottom">
          <div class="w3-margin-bottom">
            <div class="w3-row">
              <div class="w3-col s12 w3-border-bottom">
                  {{ form_label(form.product_description_translation) }}
              </div>
              {{ form_widget(form.product_description_translation) }}
  
            </div>
          </div>
 
      </div>

      <div class="w3-row-padding w3-margin-top w3-border-bottom">
          <div class="w3-margin-bottom">
            <div class="w3-row">
              <div class="w3-col s12 w3-border-bottom">
                  {{ form_label(form.detail) }}
              </div>
              {{ form_widget(form.detail) }}
  
            </div>
          </div>
 
      </div>

      {#
      <div class="w3-col l12 w3-row-padding w3-margin-top w3-border-bottom" title="">
        {{ form_label(form.product_description_translation) }}
        {{ form_widget(form.product_description_translation) }}
    </div> #}
    {#
    <div class="w3-col l12 w3-row-padding w3-margin-top w3-border-bottom" title="">
        {{ form_label(form.detail) }}
        {{ form_widget(form.detail) }}
    </div>  #}

      <div class="w3-hide">
        {{ form_widget(form.submit)}}
      </div>
    </div>
      {{ form_end(form) }}
      
  </div>

  <script>var l = []</script>
    {%for locale in locales %}  
    <script>
    l.push({name:'{{locale.name}}', id:{{locale.id}}, file:'{{locale.getFilename}}'})  
    </script>
  {% endfor %}
  
<script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>

<script>
  $('#product_product_description_translation_0_name').parent('div').prepend('<img src="{{locales[0].getFilename}}" style="height:45px" class="w3-border" title="{{locales[0].name}}">')
  $('#product_product_description_translation_1_name').parent('div').prepend('<img src="{{locales[1].getFilename}}" style="height:45px" class="w3-border" title="{{locales[1].name}}">')

  $('#product_product_description_translation_0').addClass("w3-col s12 l6 m12 w3-margin-bottom w3-row-padding");
  $('#product_product_description_translation_1').addClass("w3-col s12 l6 m12 w3-margin-bottom w3-row-padding");

  addContentToForm('product_detail', 'product-forms', 'Detail', '{{ form.detail|length }}');

  function addContentToForm (formId, formClass, labelName, formRows) 
  {

    if(formId=="product_detail"){
      $('#'+formId+'').children('div').addClass(' w3-margin-bottom')
    }else {
      $('#'+formId+'').children('div').addClass(''+formClass+' w3-border w3-margin-bottom')
    }

    $('#'+formId+'').prepend("<div class='w3-row'> <label>"+labelName+"</label> </div>");

    for (i=0; i < formRows; i++ ){
      if(formId=="product_detail") {
        $('#'+formId+'_'+i+'_translation_0').addClass("w3-col s12 l6 m12 w3-margin-bottom w3-row-padding");
        $('#'+formId+'_'+i+'_translation_1').addClass("w3-col s12 l6 m12 w3-margin-bottom w3-row-padding");
      }

      for (var k in l)
        $('#'+formId+'_'+i+'_translation_'+k).children('div').first().prepend('<img src="'+l[k].file+'" style="height:45px" class="w3-border" title="'+l[k].name+'">')
    }

  }

  var loadFile = function(event) {
    $('.set-image-container').html('<img id="output" class="w3-image w3-animate-zoom">')
    var output = document.getElementById('output')
    output.src = URL.createObjectURL(event.target.files[0])
  }

hours = []
unique = []
position = 0

/* hours.push($('#product_event_0_event').val().split(","))    */


$('#product_blockdate').addClass('w3-hide')

$('#receive-hour').text(hours)

$('#clear-hour').click(function(){
  hours = []
  unique = []
  $('#receive-hour').text('')
  $('#product_event_0_event').val('')
})

$('#add-hour').click(function(){
  hours.push($('.timepicker-hour').text()+':'+$('.timepicker-minute').text())

  $.each(hours, function(i, el){
    if($.inArray(el, unique) === -1) unique.push(el)
  })  
  $('#receive-hour').text(unique)
  $('#product_event_0_event').val(unique)
})

$('#datetimepicker2').datetimepicker({keepOpen: true,format: 'H:m',stepping:5,inline: true,sideBySide:true, icons: {
  time: "fa fa-clock-o",
  date: "fa fa-calendar",
  up: "fa fa-chevron-up",
  down: "fa fa-chevron-down"
  }
})


$('#product_duration').datetimepicker({format: 'HH:mm', ignoreReadonly:true ,icons: {
  time: "fa fa-clock-o",
  date: "fa fa-calendar",
  up: "fa fa-chevron-up",
  down: "fa fa-chevron-down"
  }
})


$('#product-form').on('submit',function(e){
  e.preventDefault()
  obj=''

    //cke upadte editors
  for(var instanceName in CKEDITOR.instances)
    CKEDITOR.instances[instanceName].updateElement();
    
  $('.w3-overlay').show()
  $('.required').addClass('w3-hide')
  //setTimeout(function(){
    $.ajax({
      url:'{{ path('admin_product_edit') }}',
      type: "POST",
      data: new FormData($(this)[0]),
      processData: false,
      contentType: false,
      cache: false,
      success: function(data){  
        $('.w3-overlay').hide()
        if (data.message == 'success'){
          /* $('#datetimepicker2').data('DateTimePicker').destroy() */
          ajaxUpload('product-list')
          $('#modal-edit-product').hide()
          $('#product-form').trigger('reset')
          $('#product_isactive').val('')
        }
        else if (data.message=='fail'){
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)


          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
//  }, 500)
})

  $(function() {
      $('textarea.ckeditor').ckeditor();
  });
  
</script>

