<style>
 li { list-style-type:none}
 ul{padding: 0px}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 3px solid transparent!important} 
 .w3-input {border-bottom: 0px solid #05788d}
</style>
<header class="w3-container" style="padding-top:22px">
    <h5>
      <b>
        <i class="fas fa-ellipsis-v"></i> Submenu <i class="far fa-edit fa-fw"></i>
    </b>
  </h5>
</header>

<div class="">
  {{ form_start(form, {'attr': {'id': 'submenu-form'}})  }}

  <div class="w3-row-padding w3-border w3-sand w3-padding-16">

    <input type="hidden" value="{{submenu.id}}" name="id">
    <div class="w3-col s12 l2 m4">
      <label>&nbsp;</label><br>
      {{ form_widget(form.active)}} {{ form_label(form.active)}}
     {# <label>&nbsp;</label>
       {{ form_widget(form.isSubmenu)}} {{ form_label(form.isSubmenu)}} #}
    </div>

    <div class="w3-col s6 l3 m6 w3-margin-bottom">
      <label>Menu"</label>
      <select class="w3-select w3-border" name="menu">
        {%for m in menus %}
        <option value='{{m.id}}'>{{m.name}}</option>
        {%endfor%}
        <option selected value="{{menu_id}}">{{ menu }}</option>
        
      </select>
    </div>
  
    <div class="w3-col s12 l2 m4"> 
      <span id="role-superuser-submenu"> 
        {{ form_widget(form.superuser, { 'attr': b.superuser?{checked:""}:{}})}} {{ form_label(form.superuser)}}
        <label>&nbsp;</label><br>
        {{ form_widget(form.admin,     { 'attr': b.admin?{checked:""}:{}})}} {{ form_label(form.admin)}}
      </span>
      <label>&nbsp;</label><br>
      {{ form_widget(form.manager,   { 'attr': b.manager?{checked:""}:{}})}} {{ form_label(form.manager)}}
    </div> 

    <div class="w3-col s12 l2 m4">
      <label>{%trans%}order{%endtrans%}</label>
      <select class="w3-select w3-border" name="order_by">
        {% for i in 1..totals %}
          {% if (i == submenu.orderBy) %}
            <option selected value="{{i}}">{{ i }}</option>
          {% else %}
            <option value="{{i}}">{{ i }}</option>
        {% endif %}
          {% endfor %}
      </select>
    </div>
  </div>

  <div class="w3-row-padding w3-border w3-sand w3-padding-16">

   {% for locale in locales%}

    <div class="w3-col s12 l4 m6">

      <label>{% trans %}text{% endtrans %} {{ locale.name }}</label>
      <div class="w3-row">
        <div class="w3-col" style="width:45px">
          <img src="{{locale.filename}}" style="height:45px" class="w3-border" title="{{locale.name}}">
        </div>
        <div class="w3-rest">

        {% for translated in submenu.Translation %}
          {% if locale.id == translated.locales.id %}

          <input type="text" data-translated-id="{{translated.id}}" data-locale-id="{{locale.id}}" name="locale" class="w3-input w3-border w3-white" value="{{translated.name}}" placeholder="{{locale.name}}">
        
          {% endif %}
        {% endfor %}
        
        <input type="hidden" name="translated">

        </div>
      </div>
    </div>

        {% endfor %}
      
      <div class="w3-hide">
        {{ form_widget(form.submit)}}
      </div>
    </div>

    <div class="w3-row-padding w3-border w3-sand w3-padding-16">
      <div id="submenu-icon" class="w3-col s12 m4">
        {{ form_label(form.icon)}} {{ form_widget(form.icon)}} 
      </div>

      <div id="submenu-path" class="w3-col s12 m4">
        {{ form_label(form.path)}} {{ form_widget(form.path)}} 
      </div>
    </div>
    {{ form_end(form) }}
  </div>

<script>
console.log("{{role}}");
  if('{{role}}' != "superuser"){

    if(!$('#role-superuser-submenu').hasClass( "w3-hide" )) 
    {
      $('#role-superuser-submenu').addClass("w3-hide");
      $('#submenu-path').addClass("w3-hide");
      $('#submenu-icon').addClass("w3-hide"); 
    }

  } 
  /*
  else if ('{{role}}' == "manager") {
    $('#role-admin').addClass("w3-hide");
  } 
  */

  var loadFile = function(event) {
    $('.set-image-container').html('<img id="output" class="w3-image w3-animate-zoom">')
    var output = document.getElementById('output')
    output.src = URL.createObjectURL(event.target.files[0])
  }

$('#submenu-form').on('submit',function(e){
  e.preventDefault()
  obj=''
  $('.w3-overlay').show()

  arr = []

  $('input[name=locale]').each(function( index ) {
    arr.push({id:$(this).attr('data-translated-id'), name:$(this).val(), locale_id:$(this).attr('data-locale-id')})
  })

  $('input[name=translated]').val(JSON.stringify(arr))

  $('.required').addClass('w3-hide')
    $.ajax({
      url:'{{ path('admin_submenu_edit') }}',
      type: "POST",
      data: new FormData($(this)[0]),
      processData: false,
      contentType: false,
      cache: false,
      success: function(data){  
        $('.w3-overlay').hide()
        if (data.status == 1){
          ajaxUpload('submenu-list')
          $('#modal-edit-submenu').hide()
          $('#submenu-form').trigger('reset')
        }
        else {
          for(i=0; i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
})
</script>

