 {# {% extends "admin/modals.html.twig" %}  #}

{% block content %}
<link rel="stylesheet" href="{{ asset('assets/parsley/parsley.min.css') }}">

<style>
li { list-style-type:none}
ul{padding: 0px}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}

</style>
<header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fas fa-ellipsis-v"></i> {% trans %}users{% endtrans %} <i class="far fa-pluser-square fa-fw"></i></b></h5>
</header>

{% form_theme form 
'jquery-collection-themes/jquery.collection.html.twig'
'jquery-collection-themes/user-theme.html.twig'
%}

{{ form(form) }}


<script src="{{ asset('js/jquery.collection.js') }}"></script>
<script src="{{ asset('assets/parsley/highlight.min.js') }}"></script>
<script src="{{ asset('assets/parsley/parsley.min.js') }}"></script>
<script src="{{ asset('assets/parsley/i18n/'~ locale ~ '.js') }}"></script>
<script>
    $('[name="AdminType"]').parsley();

    $('[name="AdminType"]').on('submit',function(e){
        $('.w3-overlay').show()
        e.preventDefault()
        //$('.required').addClass('w3-hide')
            $.ajax({  
                url:'{{ path('user_edit') }}',
                type: "POST",
                data: $('[name="AdminType"]').serialize()+'&id={{userId}}', //+'&locale='+JSON.stringify(arr),
                success: function(data){  
                    $('.w3-overlay').hide()
        
                    if (data.status == 1){
                        $('#modal-edit-user').hide()
                        ajaxUpload('admin-user-list')
                        //$('#dataTable').DataTable().ajax.reload();
                        var list = [];
                            for (id in data.data)
                                list.push('<li><img class="w3-border w3-opacity-min w3-margin" style="height:45px" src="'+data.paths[id]+'"><a target="_blank" href="'+ data.data[id] +'">'+data.data[id]+'</li>');

                        //modalConditions(0, "{%trans%}user.edited_successfully {%endtrans%}"+"<br><ul class='w3-text-blue w3-border'>"+list.join('')+"</ul>" , 'success')
                    }
                    else {
                    /*
                        for(i=0;i<data.data.length;i++)
                            obj += data.data[i]+'<br>'
                        $('#set-fields').html(obj)
                        $('#modal-fields').show()
                    */
                    }
                },
                error:function(data){
                    $('.w3-overlay').hide()
                    $('#modal-error').show()
                }
            })
        //}, 500)
    })

    $('#AdminType_plainPassword_first, #AdminType_plainPassword_second').attr("required",false);
    
</script>
{% endblock %}
