
<style type="text/css">
  .w3-closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold}
</style>

<div id="modal-termos-condicoes" class="w3-modal termos-condicoes" style="z-index: 9999999;padding-top: 12px; padding-bottom: 32px">
    <div class="w3-modal-content w3-animate-zoom" style="max-width:100%">
        <div class="w3-container w3-amber w3-padding">
            <span onclick="$('#modal-termos-condicoes').hide()" class="w3-padding w3-button w3-display-topright">
              <i class="w3-xlarge fa fa-times"></i>
            </span>
            <h2>
              <span id="termos-condicoes-head"> </span>
            </h2>
        </div>

      <div class="w3-container w3-padding" id="">
      </div>
      <div class="w3-container w3-padding" id="termos-condicoes-txt">
      </div>
      <div class="w3-row-padding w3-border-top">
        <div class="w3-col s12 w3-margin-top w3-margin-bottom">
          <span class="w3-btn-block w3-button w3-right w3-border w3-white" onclick="$('#modal-termos-condicoes').hide()">
            <i class="fa fa-times"></i> {%trans%}close{%endtrans%}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="modal-gdpr" class="w3-modal" style="z-index: 9999999;padding-top: 12px; padding-bottom: 32px">
      <div class="w3-modal-content w3-animate-zoom" style="max-width:100%">
          <div class="w3-container w3-amber w3-padding">
              <span onclick="$('#modal-gdpr').hide()" class="w3-padding w3-button w3-display-topright">
                <i class="w3-xlarge fa fa-times"></i>
              </span>
              <h2>
                <span id="gdpr-head"> </span>
              </h2>
          </div>

        <div class="w3-container w3-padding" id="">
        </div>
        <div class="w3-container w3-padding" id="gdpr-txt">
        </div>
        <div class="w3-row-padding w3-border-top">
          <div class="w3-col s12 w3-margin-top w3-margin-bottom">
            <span class="w3-button w3-right w3-border w3-white" onclick="$('#modal-gdpr').hide()">
              <i class="fa fa-times"></i> {%trans%}close{%endtrans%}
            </span>
          </div>
        </div>
      </div>
    </div>

<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title">Login</h4>
  </div>
  <div class="modal-body text-center">
    <div class="p-3 ">
    <a class="btn circle btn-theme effect btn-md" href="/agent/login">Login back            <i class="fas fa-play-circle"></i>
    </a>
    </div>
    <br>
    <div class="p-3">
        <a class="btn circle btn-theme effect btn-md" href="/operator/login">Login de operadores                <i class="fas fa-play-circle"></i>
        </a>
    </div>
  </div>
</div>




